[Unit]
Description=AutoMount: %i.

[Service]
Type=simple
User=luiz
Environment=XAUTHORITY=/home/luiz/.Xauthority
Environment=DISPLAY=:0
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus
ExecStart=/usr/bin/python3 /home/luiz/automount/automount.py -nd %i

[Install]
WantedBy=multi-user.target
